* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styles */
body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  background-color: #f5f5f5;
}
/* header styles */
header {
  width: 320px;
  height: 191px;
  margin-top: -45px;
  margin-bottom: 10px;
}
/* img style */
img {
  max-width: 100%;
}
/* form-container styles */
.form-container {
  width: 752px;
  padding: 10px 40px;
  box-shadow: 0 3px 7px 4px #e2e2e2;
  background-color: #fff;
}
/* form-container h2 styles */
.form-container h2 {
  font-size: 21px;
  font-weight: 500;
  margin-top: 36px;
  margin-bottom: 13px;
  color: #001c72;
}
/* sub-container-single-line styles */
.sub-container-single-line {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
/* part-one styles */
.sub-container-single-line .part-one {
  width: 321px;
  display: flex;
  flex-direction: column;
}
/* part-two styles */
.sub-container-single-line .part-two {
  width: 321px;
  display: flex;
  flex-direction: column;
}
/* input styles */
.form-container input {
  height: 50px;
  padding-left: 19px;
  border: solid 0.2px grey;
  border-radius: 5px;
}
/* sub-container styles */
.sub-container {
  display: flex;
  width: 671px;
  flex-direction: column;
}
/* payment=title styles */
.payment-title {
  margin-top: 41px;
}
/* button styles*/
button {
  width: 100%;
  padding: 15px;
  margin: 25px 0 40px;
  font-size: 17px;
  font-weight: 500;
  border: solid #001b71;
  border-radius: 5px;
  color: #fff;
  background-color: #001b71;
}

button:hover {
  cursor: pointer;
}
/* label styles */
.form-container label {
  font-size: 12px;
  padding: 25px 0 5px;
}
/* h4 styles */
.form-container h4 {
  font-size: 12px;
  padding: 5px 0px;
  font-weight: 400;
  color: #b82e2e;
}
/* error styles */
.form-container .error {
  border: 1px solid #b82e2e;
}
